/* --- Font imports --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Component imports --- */
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/masonry.css");
@import url("components/nav-bar.css");
@import url("components/btn-chat.css");

/* --- Fonts & colors --- */
body {
  background-color: rgb(245,245,245);
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}

h2 {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 11px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


a {
  border-radius: 50px;
  color: #000;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bold;
}

a:hover {
  background-color: rgb(200,200,200);
  border-radius: 50px;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bold;
  transition: 0.2s;
}

.btn-active {
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 12px 24px;
}

.btn-active:hover {
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 12px 24px;
}

.btn-save {
  border-radius: 50px;
  background-color: #E60122;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bold;
  position: absolute;
  top: 12px;
  right: 10px;
  display: none;
}

.cards:hover .btn-save {
  border-radius: 50px;
  background-color: #E60122;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bold;
  display: block;
  transition: 0.5s;
}
